set clipboard+=unnamed
set clipboard+=ideaput
set number
set relativenumber
set incsearch
set scrolloff=10
set ideajoin
set showmode

let mapleader=" "

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'

sethandler <c-j> a:vim
sethandler <c-k> a:vim
sethandler <c-d> a:vim
sethandler <c-r> a:vim
sethandler <c-o> a:vim

noremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

nnoremap <leader>zm :action ToggleDistractionFreeMode<CR>
nnoremap  <leader>e :NERDTreeToggle<CR>
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <c-TAB> :action NextTab<CR>
nnoremap <c-s-TAB> :action PreviousTab<CR>
nnoremap q :action HideActiveWindow<CR>
nnoremap <Leader>x :action CloseContent<CR>
nnoremap <leader>sf :action GotoFile<CR>
nnoremap <leader>sg :action FindInPath<CR>

nnoremap <c-d> <c-d>zz
nnoremap <c-u> <c-u>zz
nnoremap n nzzzv
nnoremap N Nzzzv
nnoremap ]d :action GotoNextError<CR>
nnoremap [d :action GotoPreviousError<CR>
nnoremap <leader>i :action ShowErrorDescription<CR>
nnoremap <leader>ca :action ShowIntentionActions<CR>
vnoremap < <gv
vnoremap > >gv
nnoremap <Leader>rn  :action RenameElement<CR>
nnoremap <leader>f :action ReformatCode<CR>
xnoremap <leader>p "\"_dP
nnoremap <leader>d "\"_d
vnoremap <leader>d "\"_d


